<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance Enquiry</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/balance.css') }}">
</head>
<body>
    <!-- Flash Message Section at the Top of the Page  using jinja code for this -->
 

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
        <h2>Current Balance</h2>
        <p>Your current balance is: ${{ balance }}</p>
        <a href="{{ url_for('login') }}"> > Home Page</a>
    </div>
</body>
</html>
