<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}


    <div class="container">
        <div class="form-container">
            <h2>Register</h2>
            <form id="registrationForm" class="form" method="post" action="/register" enctype="multipart/form-data">
                <label for="name">User Name</label>
                <input type="text" id="name" placeholder="Enter your name" name="name" required>

                <label for="pin">ATM PIN</label>
                <input type="password" id="pin" placeholder="Enter ATM PIN" name="pin" required>

                <label for="confirm_pin">Confirm PIN</label>
                <input type="password" id="confirm_pin" placeholder="Confirm ATM PIN" name="confirm_pin" required>

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>
